@model RentalPointCarVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details about rental car</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPoint.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPoint.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <div>
        <button asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</button>
    </div>
    <br />
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
